<!-- <app-mycomponent></app-mycomponent>
<app-firstcomponent></app-firstcomponent> -->

<!-- One - way data binding  -->


<!-- {{whichClass}} Interpolation -->

<!-- {{MyArr}}

{{siriUserValue.fname}} -->

 <!-- <div>
  <input type="text"  [value] = "password" (input) = "inputEventHandler($event)" #myPasswordTemRef/>
</div>
<div>
  <input type="text"  [(ngModel)] = "userNameValue" />
</div>

<div>
  passwordFromButton = {{passwordBtn}}
</div>
<div>
  password = {{password}}
</div>
<div>
  userName = {{userNameValue}}
</div>
<div>
  <button (click) = "inputEventHandlerButton(myPasswordTemRef)">Click Me</button>
</div> -->


<!-- <div>
  <table border="1">
    <tr>
      <th>First Name test</th>
      <th>Email ID</th>
      <th>is Admin?</th>
      <th>DOB</th>
    </tr>
    <tr  *ngFor = "let siriUser of siriUserValueArr" class="myClassTest">
      <td>{{siriUser.fname}}</td>
      <td>{{siriUser.emailID}}</td>
      <td *ngIf = "siriUser.isAdmin">yes</td>
      <td *ngIf = "!siriUser.isAdmin">NO</td>
      <td>{{siriUser.dob | date: 'mm/dd/yyyy' }} </td>
    </tr>

     <td *ngIf = "siriUser.isAdmin" *ngClass = "{'admin' :  siriUser.isAdmin , 'non-admin' : !siriUser.isAdmin}">yes</td>
    <td *ngIf = "!siriUser.isAdmin" *ngClass = "{'admin' :  siriUser.isAdmin , 'non-admin' : !siriUser.isAdmin}">NO</td> 
  <!-- </table>  -->

  

  <div class="card">
      <div class="card-header" style="background-color:blue;">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">Restuarant</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item" routerActiveLink="active">
                    <a class="nav-link" routerLink="home">Home </a>
                  </li>
                  <li class="nav-item" routerActiveLink="active">
                    <a class="nav-link" routerLink="loadMenus">Menu</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  Navbar text with an inline element
                </span>
              </div>
            </nav>
      </div>
      <div class="card-body">
          <router-outlet></router-outlet>
      </div>
      <div class="card-footer text-muted">
        &Restuarent By Siri
      </div>
    </div>
  

