.myClassTest {

    &.admin {
        background-color: green;
    }

    &.non-admin {
        background-color: red;
    }

    
    color : blue
}




/* unvisited link */
nav-link:link {
    color: red;
}



/* mouse over link */
nav-link:hover {
    color: hotpink;
}

/* selected link */
nav-link:active {
    color: blue;
}